* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active_nav {
  background-color: #fdb632;
  color: white !important;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.nav {
  z-index: 1000;
  display: block;
}
.nav .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.nav .container .logo {
  width: 25%;
  padding-right: 20px;
  padding-left: 10px;
}
.nav .container .logo a img {
  max-width: 100%;
}
.nav .container .menu {
  margin-left: 5px;
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav .container .menu li {
  list-style: none;
  position: relative;
}
.nav .container .menu li:nth-child(3):hover .dropdown {
  display: block;
}
.nav .container .menu li:nth-child(4):hover .dropdown {
  display: block;
}
.nav .container .menu li:nth-child(5):hover .dropdown {
  display: block;
  bottom: -280px;
}
.nav .container .menu li:nth-child(6):hover .dropdown {
  display: block;
  bottom: -200px;
}
.nav .container .menu li .dropdown {
  display: none;
  transition: all 0.3s ease;
  position: absolute;
  bottom: -115px;
  width: 180px;
  background-color: #fff;
  z-index: 1;
}
.nav .container .menu li .dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  font-weight: 600;
}
.nav .container .menu li .dropdown a:hover {
  color: white;
  background-color: #fdb632;
}
.nav .container .menu li > a {
  text-decoration: none;
  line-height: 1.5;
  font-size: 14px;
  text-align: center;
  padding: 32px 14px;
  font-weight: 700;
  color: black;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease;
}
.nav .container .menu li > a:hover {
  color: white;
  background-color: #fdb632;
}
.nav .container .nav-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav .container .nav-right .search_icon {
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdb632;
  cursor: pointer;
}
.nav .container .nav-right .search_icon:hover {
  background-color: #003d69;
}
.nav .container .nav-right .search_icon a {
  color: white;
}
.nav .container .nav-right button {
  transition: all 0.3s ease;
  padding: 15px 34px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: #fdb632;
  position: relative;
}
.nav .container .nav-right button::before {
  content: "";
  width: 2px;
  height: 50px;
  position: absolute;
  background-color: #ccc;
  top: -1px;
  left: -25px;
}
.nav .container .nav-right button:hover {
  background-color: #003d69;
}

.slide {
  margin-top: 4px;
  width: 100%;
  background-image: url(../images/slider1.jpg);
  background-position: center center;
  color: white;
}
.slide .container {
  width: 70%;
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 260px;
}
.slide h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.slide p {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  text-align: center;
  font-family: "Open Sans";
  line-height: 30px;
}
.slide a {
  color: white;
  font-size: 18px;
  padding: 22px 40px;
  background-color: #fdb632;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 700;
  font-family: "Open Sans";
  margin-left: 20%;
  transition: all 0.2s ease-out 0s;
}
.slide a:hover {
  background-color: #fff;
  color: #fdb632;
}
.slide .b2 {
  background: none;
  border: 2px solid white;
  margin-left: 5%;
  padding: 16px 40px;
}
.slide .b2:hover {
  background-color: #fdb632;
  color: white;
  border: none;
}

.cards .container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards .container .card {
  width: 23%;
  background-color: #fdb632;
  padding: 15px 15px 30px 15px;
  text-align: center;
  border-radius: 12px;
  margin-top: -80px;
}
.cards .container .card .course_icon .c-icon {
  background-color: white;
  width: 130px;
  height: 130px;
  display: inline-block;
  border-radius: 50%;
  padding: 25px;
  margin-top: -80px;
}
.cards .container .card .course_icon .c-icon img {
  width: 100%;
}
.cards .container .card h4 {
  margin-top: 10px;
  font-size: 24px;
  color: white;
  position: relative;
}
.cards .container .card h4::before {
  content: " ";
  width: 40px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: -15px;
  margin-left: -20px;
}
.cards .container .card p {
  margin-top: 30px;
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans";
  font-weight: 500;
}
.cards .container .card:nth-child(2) {
  background-color: #f3452a;
}
.cards .container .card:nth-child(3) {
  background-color: #003d69;
}
.cards .container .card:nth-child(4) {
  background-color: #3cb2d5;
}

.section1 {
  padding-top: 90px;
}
.section1 .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section1 .container .section1-img {
  width: 54%;
}
.section1 .container .section1-img img {
  width: 100%;
}
.section1 .container .section1-text {
  width: 40%;
}
.section1 .container .section1-text h1 {
  font-size: 48px;
}
.section1 .container .section1-text p {
  font-size: 14px;
  line-height: 26px;
  color: #52575e;
  font-family: "Open Sans";
}
.section1 .container .section1-text ul li {
  padding-top: 10px;
  list-style: none;
  display: flex;
}
.section1 .container .section1-text ul li h1 {
  font-size: 30px;
}
.section1 .container .section1-text ul li .text-li {
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  border-radius: 50%;
  background-color: #3db2d5;
  padding: 15px;
}
.section1 .container .section1-text ul li .text-li img {
  max-width: 100%;
}
.section1 .container .section1-text ul li .text-li2 {
  margin-left: 5%;
  width: 70%;
}
.section1 .container .section1-text ul li:nth-child(2) .text-li {
  background-color: #56b64c;
}
.section1 .container .section1-text ul li:nth-child(3) .text-li {
  background-color: #de4247;
}

.section2 {
  margin-top: 75px;
  background-image: url("../images/section2_bg.jpg");
  background-position: center center;
}
.section2 .container {
  width: 80%;
  padding-top: 80px;
  padding-bottom: 90px;
}
.section2 .container > h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: "Open Sans";
  position: relative;
}
.section2 .container > h1::before {
  content: "";
  width: 54px;
  height: 2px;
  background-color: #ddb202;
  position: absolute;
  left: 50%;
  margin-left: -26px;
  bottom: -20px;
}
.section2 .container .cards {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section2 .container .cards .card {
  width: 30%;
  background-color: #fff;
}
.section2 .container .cards .card .img img {
  width: 100%;
}
.section2 .container .cards .card .text {
  padding: 25px 25px 25px 25px;
}
.section2 .container .cards .card .text h1 {
  font-size: 22px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.section2 .container .cards .card .text h1:hover {
  color: #fdb632;
}
.section2 .container .cards .card p {
  font-size: 14px;
  line-height: 24px;
  color: #322c2c;
  font-family: "Open Sans";
}
.section2 .container .cards .footer {
  padding: 25px 25px 25px 25px;
  display: flex;
  justify-content: space-between;
}
.section2 .container .cards .footer h1 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
}

.section3 {
  background-image: url(../images/section3_bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 70px 0;
}
.section3 .container {
  width: 70%;
  text-align: center;
}
.section3 .container h1 {
  font-size: 48px;
  color: #56225e;
  text-align: center;
  font-family: "Open Sans";
}
.section3 .container p {
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 24px;
}
.section3 .container a {
  padding: 18px 38px;
  color: white;
  border-radius: 36px;
  background-color: #ee3131;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease;
  font-weight: 600;
}
.section3 .container a:hover {
  background-color: black;
}

.section4 {
  margin-top: 80px;
  margin-bottom: 85px;
}
.section4 .container {
  text-align: center;
  width: 80%;
}
.section4 .container h1 {
  font-size: 48px;
  color: #56225e;
  text-align: center;
  font-family: "Open Sans";
  margin-bottom: 50px;
}
.section4 .container .video {
  padding: 200px 0;
  background-image: url("../images/section4_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 14px solid #fff;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.12);
  text-align: center;
}
.section4 .container .video .playbt a {
  width: 42px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  position: relative;
  color: red;
  text-align: center;
}
.section4 .container .video .playbt a i {
  vertical-align: middle;
}

.section5 {
  width: 100%;
  background-image: url("../images/section5_bg.jpg");
}
.section5 .container {
  width: 80%;
  padding: 75px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section5 .container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23%;
}
.section5 .container .text h1 {
  font-size: 48px;
  color: #56225e;
  text-align: left;
  font-weight: bold;
  font-family: "Open Sans";
}
.section5 .container .text p {
  font-size: 14px;
  line-height: 26px;
  color: #52575e;
  font-family: "Open Sans";
}
.section5 .container .text a {
  display: inline-block;
  padding-top: 20px;
  font-size: 15px;
  text-decoration: none;
  background: #fdb632;
  padding: 18px 38px;
  border-radius: 36px;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
}
.section5 .container .text a:hover {
  background-color: #003d69;
}
.section5 .container .cards {
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
.section5 .container .cards .card {
  margin-top: 20px;
  width: 32%;
  position: relative;
}
.section5 .container .cards .card:hover .icon {
  background-color: rgba(70, 70, 70, 0.4);
  padding: 39% 50%;
  transform: translate(-50%, -50%);
}
.section5 .container .cards .card img {
  max-width: 100%;
}
.section5 .container .cards .card .icon {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.section5 .container .cards .card i {
  color: #fff;
  background-color: #fdb632;
  padding: 10px;
  transform: translate(-50%, -50%);
}

.section6 {
  width: 100%;
  background-color: #fff;
  padding-top: 60px;
}
.section6 .container {
  width: 80%;
}
.section6 .container > p {
  color: #b2b2b2;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  line-height: 26px;
}
.section6 .container > h1 {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}
.section6 .container .cards {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}
.section6 .container .cards .card {
  width: 48%;
  background-color: #424761;
  text-align: center;
  padding: 30px;
}
.section6 .container .cards .card .img img:first-child {
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  margin-top: -75px;
  margin-left: 41%;
  margin-bottom: 30px;
}
.section6 .container .cards .card .img img:nth-child(2) {
  margin-bottom: 20px;
}
.section6 .container .cards .card p {
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
  color: #dadada;
  margin-bottom: 20px;
}
.section6 .container .cards .card h1 {
  color: white;
  font-size: 20px;
}
.section6 .container .cards .card h2 {
  margin-top: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  color: #dadada;
  font-weight: 500;
}
.section6 .container .cards .card .icon {
  text-align: right;
  margin-bottom: -52px;
}
.section6 .container .cards .card .icon span {
  display: inline-block;
  padding: 10px 12px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}
.section6 .container .cards .card .icon i {
  color: red;
}
.section6 .container .circle {
  text-align: center;
  margin-top: 85px;
  color: red;
  margin-bottom: 60px;
}
.section6 .container .circle i {
  cursor: pointer;
}
.section6 .container .circle i:first-child {
  margin-right: 8px;
}

.section7 {
  background-image: url("../images/section7-bg.jpg");
}
.section7 .container {
  width: 60%;
  padding: 100px 0;
  text-align: center;
}
.section7 .container h1 {
  color: #fff;
  font-size: 48px;
}
.section7 .container p {
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
  line-height: 26px;
  text-indent: 50px;
}
.section7 .container .icon-tel {
  margin-top: 20px;
}
.section7 .container .icon-tel img {
  max-width: 100%;
  margin-right: 20px;
  vertical-align: middle;
}
.section7 .container .icon-tel a {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
}
.section7 .container .icon-tel a:hover {
  color: #fdb632;
}

.section8 .container {
  width: 80%;
  padding: 70px 0;
  text-align: center;
}
.section8 .container > h1 {
  font-size: 48px;
  color: #56225e;
  margin-bottom: 60px;
}
.section8 .container .cards {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section8 .container .cards .card {
  width: 23%;
  position: relative;
  overflow: hidden;
}
.section8 .container .cards .card .img {
  overflow: hidden;
  width: 100%;
}
.section8 .container .cards .card .img img {
  max-width: 100%;
}
.section8 .container .cards .card h1 {
  font-size: 26px;
  font-weight: 600;
  color: #212529;
}
.section8 .container .cards .card p {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 6px;
  color: #212529;
  margin-bottom: 20px;
}
.section8 .container .cards .card .hover {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -70px;
  z-index: 1;
  background-color: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px;
  transition: all 0.3s ease;
}
.section8 .container .cards .card .hover a {
  color: #fff;
}
.section8 .container .cards .card:hover .hover {
  bottom: 73px;
  background-color: red;
  opacity: 0.6;
}

.section9 {
  background-color: #f8f8f8;
}
.section9 .container {
  width: 80%;
  padding: 70px 0;
  text-align: center;
}
.section9 .container > h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}
.section9 .container .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section9 .container .cards .card {
  width: 31%;
  background-color: #fff;
}
.section9 .container .cards .card img {
  max-width: 100%;
}
.section9 .container .cards .card .text {
  text-align: left;
  padding: 26px 26px 16px 26px;
  min-height: 180px;
  position: relative;
}
.section9 .container .cards .card .text a {
  text-align: left;
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.section9 .container .cards .card .text a:hover {
  color: red;
}
.section9 .container .cards .card .text p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #52575e;
}
.section9 .container .cards .card .text::before {
  content: "08:00 am - 10:00 am";
  position: absolute;
  width: 40%;
  padding: 10px;
  background-color: #56b64c;
  z-index: 1;
  color: white;
  top: -42px;
  left: 50%;
  border-radius: 10px 10px 0 0;
}

.section10 {
  background-color: #e33f20;
  padding: 50px 0;
}
.section10 .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section10 .container .text {
  color: white;
  width: 50%;
}
.section10 .container .text h1 {
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 1px;
}
.section10 .container .text p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  font-weight: 400;
}
.section10 .container .input {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
}
.section10 .container .input input {
  flex: 1;
  border: none;
  font-size: 16px;
  padding: 24px 22px 24px 65px;
  color: #767676;
}
.section10 .container .input input:focus {
  outline: none;
}
.section10 .container .input .icon {
  position: absolute;
  top: 27px;
  left: 20px;
  color: #767676;
}
.section10 .container .input .icon i {
  font-size: 30px;
  line-height: 1;
}
.section10 .container .input a {
  background: #000;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 24px 22px;
}

.section11 {
  background-color: #232936;
  padding-top: 50px;
  padding-bottom: 35px;
}
.section11 .container {
  width: 80%;
  color: #bcc5d0;
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section11 .container h3 {
  color: white;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 25px;
  text-align: left;
}
.section11 .container .f1 {
  width: 28%;
}
.section11 .container .f1 img {
  max-width: 100%;
}
.section11 .container .f1 p {
  margin-top: 15px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.section11 .container .f2 {
  width: 19%;
}
.section11 .container .f2 ul {
  padding-left: 20px;
}
.section11 .container .f2 ul li {
  margin-bottom: 10px;
  padding: 5px 0;
}
.section11 .container .f2 ul li a {
  text-decoration: none;
  color: #bcc5d0;
  font-size: 14px;
  transition: all 0.2s ease-out;
}
.section11 .container .f2 ul li a:hover {
  color: #e83e8c;
}
.section11 .container .f3 {
  width: 24%;
}
.section11 .container .f3 ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  line-height: 26px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bcc5d0;
}
.section11 .container .f4 {
  width: 24%;
  padding-left: 10px;
}
.section11 .container .f4 ul li {
  list-style: none;
  margin-bottom: 20px;
}
.section11 .container .f4 ul li i {
  margin-right: 8px;
  vertical-align: middle;
}
.section11 .container .f4 ul li a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-out;
  font-weight: none;
}
.section11 .container .f4 ul li a:hover {
  color: #28a745;
}
.section11 .container .f4 ul li .tel {
  font-size: 26px;
  font-weight: bold;
}
.section11 .container .f4 ul li:nth-child(4) {
  display: flex;
}
.section11 .container .f4 ul li:nth-child(4) a {
  margin-right: 10px;
  text-align: center;
  color: #fff;
  display: block;
  font-size: 18px;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 50%;
}
.section11 .container .f4 ul li:nth-child(4) a:first-child {
  background-color: #3c599b;
}
.section11 .container .f4 ul li:nth-child(4) a:nth-child(2) {
  background-color: #1ea1f3;
}
.section11 .container .f4 ul li:nth-child(4) a:nth-child(3) {
  background-color: #cd2e80;
}
.section11 .container .f4 ul li:nth-child(4) a:nth-child(4) {
  background-color: #fb000f;
}
.section11 .container .f4 ul li:nth-child(4) a i {
  transform: translateX(3px);
}

.footer {
  padding: 25px 0;
}
.footer .container {
  width: 80%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
