
.slide{
    .container{
        width: 100%;
        padding: 70px;
        h1{
            font-size: 30px;
        }
        p{
            font-size: 14px;
            line-height: 16px;
        }
    }
}